.post-list-wrapper {
  padding: 2rem;
  background-color: #f6f7f8;
  min-height: 100vh;
}

.post-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.post-link {
  text-decoration: none;
  color: inherit;
}

.post-item {
  list-style: none;
}

a {
    text-decoration: none;
    color: #565555;
    font-weight: bold;
}

/* Pagination */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 20px;
}

.pagination button {
    padding: 10px;
    background-color: #007bff;
    color: rgb(194, 192, 192);
    border: none;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #cf9494;
    cursor: not-allowed;
}

.pagination span {
    font-size: 1.2rem;
}

/* button */

button {
    background-color: #ff4500;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.05);
}
